DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=database

APP_HOST = 'localhost'
APP_PORT = "8000"

OLLAMA_HOST=ollama
OLLAMA_PORT=11434
OLLAMA_MODEL=qwen2.5:3b
OLLAMA_KEEP_ALIVE=24h
OLLAMA_NUM_PARALLEL=1

MODEL_CACHE_DIR="/app/models"

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0